@font-face{
    font-family: 'Inter';
    src: url('fonts/inter.woff2') format('woff2'),url('fonts/inter.woff') format('woff'),url('fonts/inter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#header{
    background-color: #21272B;
    display: flex;
    width: 100%;
    height: 72px;
    padding: 11px 23px 17px 23px;
}

h1{
    position: relative;
    left: 55px;
    top: 3px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
    color:#1BB4E8;
    font-style: italic;
    
}

#header-logo img{
    position: absolute;
    left: 30px;
    top: 32px;
}

#header-logo p{
    position: absolute;
    left: 85px;
    top: 45px;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1px;
    color:#FFFFFF;
    font-style: italic;

}

#header a, ul, p{
    color:#FFFFFF;
    list-style: none;
    text-decoration: none;
    
}

#header a:hover{
    color:#1BB4E8;
}

#hearder-menu ul{
    position: absolute;
    top: 70px;
    right: 50px;
    display: flex;
    margin: 0;
    padding: 0;
}

#hearder-menu li{
    margin-right: 20px;
    font-weight: 400;
    line-height: 20px;
    font-size:14px;

}

*{
    font-family:'Inter';
}
